# use glob syntax.
syntax: glob
target/
.svn/
.settings
.cache
.classpath
.project
.metadata
.pydevproject
*.iml
*.ipr
*.iws
*.log
build-number.txt
atlassian-ide-plugin.xml
.gradle/
.idea/
out/
build/
classes/
bin/
test-output/
s101plugin.state
.DS_Store
itest.properties
!overthere-plugin/src/test/resources/itest.properties
recovery/
tasker/tasker-akka/work/
build/
.gradle/
*.iml
*.ipr
*.iws
out/
.idea/
classes/
